%% include 'header.rs.jinja'

#![allow(non_camel_case_types)]
#![allow(non_snake_case)]
#![allow(unused)]

use crate::graph::enums::*;

pub fn coordinate(spot: SpotId) -> (f32, f32) {
    match spot {
%% for area in gl.areas()
%% for sp in area.spots|selectattr('coord', 'defined')
        SpotId::{{ sp.id }} => ({{ sp.coord[0]|float }}, {{ sp.coord[1]|float }}),
%% endfor
%% endfor
        _ => panic!("Spot has no coordinate: {}", spot),
    }
}

pub fn distance(a: (f32, f32), b: (f32, f32)) -> f32 {
    ((a.0 - b.0).powi(2) + (a.1 - b.1).powi(2)).sqrt()
}

pub fn spot_distance(a: SpotId, b: SpotId) -> f32 {
    distance(coordinate(a), coordinate(b))
}
