%% include 'header.rs.jinja'

#![allow(unused)]

use analyzer::access::*;
use analyzer::cli::read_from_file;
use analyzer::context::*;
use analyzer::estimates::ContextScorer;
use analyzer::greedy::*;
use analyzer::matchertrie::MatcherTrie;
use analyzer::observer::record_observations;
use analyzer::route::route_from_string;
use analyzer::solutions::Solution;
use analyzer::world::*;
use criterion::{black_box, criterion_group, criterion_main, BatchSize, Criterion};
use enum_map::EnumMap;
use lib{{ package }}::context::Context;
use lib{{ package }}::graph;
use lib{{ package }}::graph_enums::RuleVictory;
use lib{{ package }}::items::Item;
use lib{{ package }}::observe::ObservationMatcher;
use rustc_hash::FxHashSet;
use std::path::PathBuf;
use std::sync::Arc;

pub fn criterion_benchmark(c: &mut Criterion) {
    let mut world = graph::World::new();
%% if 'bench' in rules['$victory'].variants
    world.rule_victory = RuleVictory::Bench;
%% endif
    analyzer::world::World::condense_graph(&mut world);
    world.update_skippable_locations();
    let mut ctx = Context::default();
    c.bench_function("can_win_from_scratch", |b| b.iter(|| can_win(&world, &ctx, u32::MAX)));

    let ctx = ContextWrapper::new(Context::default());
    c.bench_function("greedy search", |b| b.iter(|| greedy_search(&world, &ctx, u32::MAX, 2)));

    let mut dir = PathBuf::from(file!());
    dir.pop();
    dir.pop();
    dir.push("routes");
    let mut routes = Vec::new();
    for entry in std::fs::read_dir(dir).unwrap() {
        let path = entry.unwrap().path();
        let ext = path.extension().map(|s| s.to_str()).flatten();
        if matches!(ext, Some("txt")) {
            routes.push(read_from_file(&path));
        }
    }

    if !routes.is_empty() {
        let shortest_paths = ContextScorer::shortest_paths_tree_only(&world, ctx.get());
        c.bench_function("load routes", |b| {
            b.iter(|| for rstr in &routes {
                route_from_string(&world, ctx.get(), rstr, &shortest_paths).unwrap();
            })
        });
    }

    let progress_locations: FxHashSet<_> = world
        .required_items()
        .into_iter()
        .flat_map(|(item, _)| world.get_item_locations(item))
        .collect();

    if let Ok(win) = greedy_search(&world, &ctx, u32::MAX, 2) {
        let sol = Arc::new(Solution { elapsed: win.elapsed(), history: win.recent_history().to_vec() });
        c.bench_function("trie insert greedy search", |b| {
            b.iter_batched_ref(
                || MatcherTrie::<ObservationMatcher>::default(),
                |trie| record_observations(ctx.get(), &world, sol.clone(), 1, Some(&progress_locations), trie),
                BatchSize::SmallInput,
            );
        });
    }
}

criterion_group! {
    name = benches;
    config = Criterion::default().sample_size(250);
    targets = criterion_benchmark
}
criterion_main!(benches);

