%% include 'header.rs.jinja'

#![allow(unused)]

use analyzer::access::*;
use analyzer::context::*;
use analyzer::greedy::*;
use analyzer::world::*;
use criterion::{black_box, criterion_group, criterion_main, Criterion};
use enum_map::EnumMap;
use lib{{ package }}::context::Context;
use lib{{ package }}::graph;
use lib{{ package }}::items::Item;

pub fn criterion_benchmark(c: &mut Criterion) {
    let world = graph::World::new();
    let mut ctx = Context::default();
    world.skip_unused_items(&mut ctx);
    c.bench_function("can_win_from_scratch", |b| b.iter(|| can_win(&world, &ctx)));

    let ctx = ContextWrapper::new(Context::default());
    c.bench_function("greedy search", |b| b.iter(|| greedy_search(&world, &ctx)));
    c.bench_function("minimal playthrough", |b| {
        b.iter(|| minimal_greedy_playthrough(&world, &ctx))
    });
}

criterion_group! {
    name = benches;
    config = Criterion::default().sample_size(250);
    targets = criterion_benchmark
}
criterion_main!(benches);
