{{ '%%{init: {"flowchart": {"deterministicIds": true, "defaultRenderer": elk}}}%%' }}
graph TB

%% for r in regions
subgraph {{ r.id }}
%% for a in r.areas
    subgraph {{ a.id }}[{{ a.name }}]
%% for s in a.spots
        {{ s.id }}({{ s.name }});
%% endfor
    end
%% endfor
end
%% endfor

%% for r1, r2 in adjacent_regions|sort
{{ r1 }} ~~~ {{ r2 }}
%% endfor
%% for a,b in all_connections|sort
%% if (b,a) not in all_connections
{{ a }} --> {{ b }}
%% elif a < b
{{ a }} <--> {{ b }}
%% endif
%% endfor