// use neato to use the coordinates
digraph {{ game }} {
    node[shape=square,width=0.01,colorscheme=dark28,style=filled];
    bgcolor = "transparent";
%% set scalex, scaley = special.graph_scale or (1, 1)
%% for r in regions
        node[fillcolor="{{ loop.index % 7 }}"];
%% set g_offx, g_offy = r.graph_offset or (0, 0)
%% for a in r.areas
%% set a_offx, a_offy = a.graph_offset or (0, 0)
%% for s in a.spots
        {{ s.id }} [label = " "{% if s.coord %}, pos = "{{ (scalex*(g_offx + a_offx + s.coord[0]))|round(6) }},{{ scaley*(g_offy + a_offy + s.coord[1])|round(6) }}!"{% else %}, fillcolor = "8"{% endif %}];
%% endfor
%% endfor
%% endfor
%% for s in gl.spots()
%% for e in s.exits|sort(attribute='id')
    {{ s.id }} -> {{ e|get_exit_target }};
%% endfor
%% for h in s.hybrid|sort(attribute='id')
    {{ s.id }} -> {{ h|get_exit_target }};
%% endfor
%% endfor
    edge [arrowhead=none,style=dashed];
%% for (k, l) in local_distances
    {{ k }} -> {{ l }};
%% endfor
}