%% macro enum(name, values, default=False, id=False)
#[derive(Debug, PartialEq, Eq, Copy, Clone, Hash, Ord, PartialOrd{% if id %}, enum_map::Enum{% endif %}{% if default %}, Default{% endif %})]
pub enum {{ name }} {
%% if default
    #[default] None,
%% endif
%% for v in values|sort(attribute='id')
    {{ v.id or v|construct_id }},
%% endfor
}
impl fmt::Display for {{ name }} {
    fn fmt(&self, f: &mut fmt::Formatter) -> fmt::Result {
        match self {
%% if default
            {{ name }}::None => write!(f, "{}", "None"),
%% endif
%% for v in values|sort(attribute='id')
            {{ name }}::{{ v.id or v|construct_id }} => write!(f, "{}", "{{ v.fullname or v.name or v }}"),
%% endfor
        }
    }
}
%% if id
impl analyzer::world::Id for {{ name }} {}
%% endif
impl std::str::FromStr for {{ name }} {
    type Err = String;

    fn from_str(s: &str) -> Result<Self, Self::Err> {
        match s {
%% for v in values|sort(attribute='id')
            "{{ v.fullname or v.name or v }}" => Ok({{ name }}::{{ v.id or v|construct_id }}),
%% endfor
            _ => Err(format!("Could not recognize as a {{ name }}: {}", s)),
        }
    }
}
%% endmacro

