%% include 'header.rs.jinja'

%% for name, info in helpers.items()
/// {{ name }} ( {{ info.args|join(',') }} )
/// {{ info.pr.text }}
#[macro_export]
macro_rules! helper__{{ name|construct_id }} {
    ($ctx:expr{% for a in info.args %}, ${{ a.name }}:expr{% endfor %}) => {{ '{{' }}
        #[allow(unused_imports)]
        use $crate::items::Item;
        {{ info.pr|prToRust({})|escape_ctx }}
    {{ '}}' }};
}

%% if info.rule == 'action'
#[macro_export]
macro_rules! helper_has_effect__{{ name|construct_id }} {
    ($ctx:expr{% for a in info.args %}, ${{ a.name }}:expr{% endfor %}) => {{ '{{' }}
        #[allow(unused_imports)]
        use $crate::items::Item;
        {{ info.pr|actToHasEffect({})|escape_ctx }}
    {{ '}}' }};
}
%% endif

%% endfor
