%% include 'header.rs.jinja'

%% for (name, args), pr in helpers.items()
/// {{ name }} ( {{ args|join(',') }} )
/// {{ pr.text }}
#[macro_export]
macro_rules! helper__{{ name|construct_id }} {
%% set comma = joiner()
    ({% for a in args %}${{ a }}:expr{{ comma() }}{% endfor %}) => {{ '{{' }}
        println!("{}", "{{ pr.tree|treeToString }}");
%% for a in args
        println!("{{ a }} = {}", ${{ a }});
%% endfor
    {{ '}}' }};
}

%% endfor
