%% include 'header.rs.jinja'

#![allow(non_camel_case_types)]

use std::fmt;

%% from 'enum.rs.jinja' import enum
{{ enum('Item', all_items, True, id=True) }}

pub fn unused_item(id: Item) -> bool {
    match id {
        Item::None => true,
%% if unused_items
        Item::{{ unused_items|sort|join(' | Item::') }} => true,
%% endif
        _ => false,
    }
}