%% include 'header.rs.jinja'

use analyzer::access::*;
use analyzer::cli::*;
use clap::Parser;
use lib{{ package }}::*;

fn main() -> Result<(), std::io::Error> {
    let args = Cli::parse();
    let (world, context, routes) =
        settings::load_settings(args.settings_file());
    if let Err(items) = can_win_just_items(world.as_ref(), &context) {
        panic!("Available items not enough to complete objective {}: missing {:?}",
               world.objective, items);
    }
    if let Err(items) = can_win_just_locations(world.as_ref(), &context) {
        panic!("Unable to complete objective {} with only location checks: missing {:?}",
               world.objective, items);
    }
    run(world.as_ref(), context, routes, &args)
}
