%% include 'header.rs.jinja'

use analyzer::access::*;
use analyzer::cli::*;
use analyzer::solutions::SolutionSuffix;
use analyzer::world::World;
use clap::Parser;
use lib{{ package }}::observe::ObservationMatcher;
use lib{{ package }}::settings;
use log4rs;
use std::path::PathBuf;

fn main() -> Result<(), std::io::Error> {
    let args = Cli::parse();
    log4rs::init_file(
        args.logconfig().unwrap_or(&PathBuf::from("settings/log4rs.yml")),
        Default::default()
    ).unwrap();
    let (world, context, routes) =
        settings::load_settings(args.settings_file());
    if let Err(items) = can_win_just_items(world.as_ref(), &context) {
        panic!("Available items not enough to complete ruleset {}: missing {:?}",
               world.ruleset(), items);
    }
    run::<_, _, ObservationMatcher<SolutionSuffix<_>>>(world.as_ref(), context, routes, &args)
}
