%% include 'header.rs.jinja'

#![allow(non_camel_case_types)]
#![allow(non_snake_case)]
#![allow(unused)]

use crate::context::Context;
use crate::graph::SpotId;
use crate::rules;
use analyzer::context::Ctx;
use enum_map::{enum_map, EnumMap};

#[derive(Debug, PartialEq, Eq, Copy, Clone, Default)]
enum Movement {
    #[default] Default,
%% for m in non_default_movements
    {{ m|camelize }},
%% endfor
}

fn has_movement(ctx: &Context, m: Movement) -> bool {
    match m {
        Movement::Default => true,
%% for m in non_default_movements
        Movement::{{ m|camelize }} => rules::access_{{ movements[m].access_id }}(ctx),
%% endfor
    }
}

pub type MovementState = [bool; {{ non_default_movements|count }}];

pub fn get_movement_state(ctx: &Context) -> MovementState {
    [
%% for mtype in non_default_movements
        has_movement(ctx, Movement::{{ mtype|camelize }}),
%% endfor
    ]
}

pub fn local_travel_time(ctx: &Context, movement_state: MovementState, src: SpotId, dest: SpotId) -> u32 {
    match (movement_state, src, dest) {
%% for k, table in movement_tables.items()
%% for (s, d), f in table.items()
    {% if f|count > 1 %}// {{ f|map('round', 6)|list }}
{% endif -%}
    ([{{ k|map('lower')|join(', ') }}], SpotId::{{ s }}, SpotId::{{ d }}) => {{ ((f|sum)*1000)|int }},
%% endfor
%% endfor
        _ => u32::MAX,
    }
}

pub fn build_base_distances() -> EnumMap<SpotId, EnumMap<SpotId, u32>> {
    enum_map! {
        SpotId::None => enum_map!{ _ => u32::MAX },
%% for s in gl.spots()|map(attribute='id')
        SpotId::{{ s }} => enum_map! {
%% for t in gl.spots()|map(attribute='id')
%% if (s, t) in base_distances
            SpotId::{{ t }} => {{ (base_distances[(s, t)] * 1000)|int }},
%% endif
%% endfor
            _ => u32::MAX,
        },
%% endfor
    }
}

pub fn base_distance(s1: SpotId, s2: SpotId) -> u32 {
    match (s1, s2) {
%% for s in gl.spots()|map(attribute='id')
%% for t in gl.spots()|map(attribute='id')
%% if (s, t) in base_distances
        (SpotId::{{ s }}, SpotId::{{ t }}) => {{ (base_distances[(s, t)] * 1000)|int }},
%% endif
%% endfor
%% endfor
        _ => u32::MAX,
    }
}

pub fn are_spots_connected(src: SpotId, dest: SpotId) -> bool {
    match (src, dest) {
%% for s in gl.spots()
%% for t in (s.local or ())
        (SpotId::{{ s.id }}, SpotId::{{ t.to|get_spot_reference(s) }}) => true,
%% endfor
%% endfor
        _ => false,
    }
}

pub fn base_edges() -> Vec<(SpotId, SpotId, u32)> {
    vec![
%% for s in gl.spots()|map(attribute='id')
%% for t in gl.spots()|map(attribute='id')
%% if (s, t) in base_distances
        (SpotId::{{ s }}, SpotId::{{ t }}, {{ (base_distances[(s, t)] * 1000)|int }}),
%% endif
%% endfor
%% endfor
    ]
}

pub fn free_movement(sp1: SpotId, sp2: SpotId) -> Option<u32> {
    match (sp1, sp2) {
%% for (s, t), (time, mvmts) in movements_rev_lookup.items()|sort
        (SpotId::{{ s }}, SpotId::{{ t }}) =>
            {% if time < 0 %}None{% else %}Some({{ (time*1000)|int }}){% endif %},
%% endfor
        _ => None,
    }
}

pub fn best_movements(sp1: SpotId, sp2: SpotId) -> (Option<u32>, Vec<(MovementState, u32)>) {
    match (sp1, sp2) {
%% for (s, t), (time, mvmts) in movements_rev_lookup.items()|sort
        (SpotId::{{ s }}, SpotId::{{ t }}) => (
            {% if time < 0 %}None{% else %}Some({{ (time*1000)|int }}){% endif %},
            vec![
%% for m, mt in mvmts
                ([{{ m|map('lower')|join(', ') }}], {{ (mt*1000)|int }}),
%% endfor
            ]),
%% endfor
        _ => (None, Vec::new()),
    }
}