%% include 'header.rs.jinja'

#![allow(non_camel_case_types)]
#![allow(non_snake_case)]
#![allow(unused)]

use crate::context::Context;
use crate::graph::*;
use crate::observe::FullObservation;
use crate::rules;
use analyzer::context::Ctx;

#[derive(Debug, PartialEq, Eq, Copy, Clone, Default)]
enum Movement {
    #[default] Default,
%% for m in non_default_movements
    {{ m|camelize }},
%% endfor
}

fn has_movement(ctx: &Context, world: &World, m: Movement) -> bool {
    match m {
        Movement::Default => true,
%% for m in non_default_movements
        Movement::{{ m|camelize }} => rules::access_{{ movements[m].access_id }}(ctx, world),
%% endfor
    }
}

pub type MovementState = [bool; {{ non_default_movements|count }}];

pub fn get_movement_state(ctx: &Context, world: &World) -> MovementState {
    [
%% for mtype in non_default_movements
        rules::access_{{ movements[mtype].access_id }}(ctx, world),
%% endfor
    ]
}

pub fn observe_movement_state(ctx: &Context, world: &World, full_obs: &mut FullObservation) -> MovementState {
    [
%% for mtype in non_default_movements
        rules::observe_access_{{ movements[mtype].access_id }}(ctx, world, full_obs),
%% endfor
    ]
}

pub fn local_travel_time(movement_state: MovementState, src: SpotId, dest: SpotId) -> u32 {
    match (movement_state, src, dest) {
%% for k, table in movement_tables.items()|sort
%% for (s, d), f in table.items()|sort
    {% if f|count > 1 %}// {{ f|map('round', 6)|list }}
    {% endif -%}
    ([{{ k|map('lower')|join(', ') }}], SpotId::{{ s }}, SpotId::{{ d }}) => {{ ((f|sum)*1000)|int }},
%% endfor
%% endfor
        _ => u32::MAX,
    }
}

pub fn are_spots_connected(src: SpotId, dest: SpotId) -> bool {
    match (src, dest) {
%% for s in gl.spots()
%% for t in (s.local or ())
%% if s != t
        (SpotId::{{ s.id }}, SpotId::{{ t.to|get_spot_reference(s) }}) => true,
%% endif
%% endfor
%% endfor
        _ => false,
    }
}
%# rust feature generic_arg_infer would allow _ for the length param. -
%% set distinctpairs = base_distances|select('distinctpair')|sort
static BASE_EDGES: [(SpotId, SpotId, u32); {{ distinctpairs|length }}] = [
%% for (s, t) in distinctpairs
    (SpotId::{{ s }}, SpotId::{{ t }}, {{ (base_distances[(s, t)] * 1000)|int }}),
%% endfor
];

pub fn base_edges() -> Vec<(SpotId, SpotId, u32)> {
    BASE_EDGES.to_vec()
}

pub fn free_movement(sp1: SpotId, sp2: SpotId) -> Option<u32> {
    match (sp1, sp2) {
%% for (s, t), (time, mvmts) in movements_rev_lookup.items()|sort
        (SpotId::{{ s }}, SpotId::{{ t }}) =>
            {% if time < 0 %}None{% else %}Some({{ (time*1000)|int }}){% endif %},
%% endfor
        _ => None,
    }
}

pub fn best_movements(sp1: SpotId, sp2: SpotId) -> (Option<u32>, Vec<(MovementState, u32)>) {
    match (sp1, sp2) {
%% for (s, t), (time, mvmts) in movements_rev_lookup.items()|sort
        (SpotId::{{ s }}, SpotId::{{ t }}) => {
            static MVMTS: [(MovementState, u32); {{ mvmts|count }}] = [
%% for m, mt in mvmts
                ([{{ m|map('lower')|join(', ') }}], {{ (mt*1000)|int }}),
%% endfor
            ];
            ({% if time < 0 %}None{% else %}Some({{ (time*1000)|int }}){% endif %}, MVMTS.to_vec())
        }
%% endfor
        _ => (None, Vec::new()),
    }
}