%% include 'header.rs.jinja'

#![allow(non_camel_case_types)]

use std::fmt;
use serde::{Serialize, Deserialize};

#[derive(Debug, PartialEq, Eq, Copy, Clone, Default, Hash, Ord, PartialOrd, Serialize, Deserialize)]
pub enum Currency {
    #[default] Free,
%% for ptype, type in price_types.items()
    {{ ptype|camelize }}({{ type }}),
%% endfor
}

impl analyzer::world::Id for Currency {}

impl fmt::Display for Currency {
    fn fmt(&self, f: &mut fmt::Formatter<'_>) -> fmt::Result {
        match self {
            Self::Free => write!(f, "Free"),
%% for ptype in price_types
            Self::{{ ptype|camelize }}(i) => write!(f, "{}:{}", "{{ ptype|camelize }}", i),
%% endfor
        }
    }
}