%% include 'header.rs.jinja'

#![allow(non_camel_case_types)]
#![allow(non_snake_case)]
#![allow(unused)]

use crate::context::*;
use crate::graph::*;
use crate::items::Item;
use crate::prices::Currency;
use crate::*;
use analyzer::context::Ctx;
use analyzer::world;

pub fn access_default(_ctx: &Context) -> bool { true }

%% for id, info in access_funcs.items()|sort
pub fn access_{{ id }}(ctx: &Context) -> bool {
    // {{ info.pr.text }}
    {{ info.pr|prToRust(info) }}
}
%% endfor

%% for id, info in action_funcs.items()|sort
pub fn action_{{ id }}(ctx: &mut Context{% for k, t in (info.args or {}).items() %}, {{ k }}: {{ t }}{% endfor %}) {
    // {{ (info.act or info.pr).text }}
    {{ (info.act or info.pr)|prToRust(info, id) }}
}
%% if not (info.act or info.pr).name.endswith('on_entry')
pub fn action_has_effect_{{ id }}(ctx: &Context) -> bool {
    {{ (info.act or info.pr)|actToHasEffect(info, id) }}
}
%% endif
%% endfor
