%% include 'header.rs.jinja'

use crate::context::{flags, Context};
use crate::graph::World;
use analyzer::context::ContextWrapper;
use analyzer::route_from_yaml_string;
use analyzer::settings::*;
use std::fs::File;
use std::io::Read;
use yaml_rust::{Yaml, YamlLoader};

fn read_key_value(
    world: &mut World,
    ctx: &mut Context,
    key: &Yaml,
    val: &Yaml,
) -> Result<(), String> {
    match key.as_str() {
        Some("objective") => {
            world.objective = parse_str_into(key, val)?;
        }
%% for s, info in settings.items()
        Some("{{ s }}") => {
%% if s in bfp.varmap
            ctx.cbits{{ bfp.varmap[s] }}.set(flags::ContextBits{{ bfp.varmap[s] }}::{{ s|upper }},
                parse_bool(key, val)?
            );
%% else
            ctx.{{ s }} = parse_{% if info['type'] in ('bool', 'int') %}{{ info['type'] }}{% else %}str_into{% endif %}(key, val)?;
%% endif
        }
%% endfor
        _ => {
            return Err(format!("Unrecognized or unparseable key: '{:?}'", key));
        }
    }
    Ok(())
}

pub fn load_settings(filename: Option<&str>) -> (World, Context, Vec<ContextWrapper<Context>>) {
    let mut world = World::new();
    let mut ctx = Context::default();
    let mut vec = Vec::new();
    let route_key = Yaml::String(String::from("route"));
    if let Some(filename) = filename {
        let mut file = File::open(filename).unwrap_or_else(|e| panic!("Couldn't open file \"{}\": {:?}", filename, e));
        let mut settings = String::new();
        file.read_to_string(&mut settings)
            .unwrap_or_else(|e| panic!("Couldn't read from file \"{}\": {:?}", filename, e));
        let yaml = YamlLoader::load_from_str(&settings).expect("YAML parse error");
        let mut errs = Vec::new();
        let mut route_strs = Vec::new();
        for (key, value) in yaml[0]
            .as_hash()
            .expect("YAML file should be a key-value map")
        {
            if key == &route_key {
                route_strs.push(value);
            } else if let Err(e) = read_key_value(&mut world, &mut ctx, key, value) {
                errs.push(e);
            }
        }
        for s in route_strs {
            match route_from_yaml_string(&world, &ctx, s) {
                Ok(c) => {println!("Defined route:\n{}", c.history_str()); vec.push(c);},
                Err(e) => errs.push(e),
            }
        }
        if !errs.is_empty() {
            panic!("Errors reading YAML file: {}\n{} total errors", errs.join("\n"), errs.len());
        }
    }
    (world, ctx, vec)
}
