%% include 'header.rs.jinja'

use analyzer::unittest::*;
use lib{{ package }}::context::Context;
use lib{{ package }}::graph::World;
use std::path::PathBuf;

fn main() {
    let mut dir = PathBuf::from(file!());
    dir.pop();
    let mut routedir = dir.clone();
    routedir.pop();
    routedir.push("routes");
    log4rs::init_file(&PathBuf::from("settings/log4unittest.yml"), Default::default()).unwrap();
    run_all_tests_in_dir::<World, Context>(&dir, Some(&routedir));
}
